body{
  background-color: #D1DBBD;
}

p{
  font-family: 'Ubuntu', sans-serif;
}

#topBar{
  background-color: #3E606F;
  height: 100px;
  text-align: center;
}

#appName{
  font-family: 'Changa One', cursive;
  font-size: 5em;
}
#main{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.links{
  color: #D1DBBD;
}

#bottomBar{
  position: fixed;
  bottom: 0;
  background-color: #3E606F;
  height: 50px;
  text-align: center;
}

.button{
  width: 100px;
  height: 50px;
  background-color:#3E606F;
  color: #D1DBBD;
  font-family: 'Ubuntu', sans-serif;
  border: none;
}

.button:hover{
  background-color:#193441;
}

.baseText{
  color: #D1DBBD;
}